*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}
body{
    text-align: center;
    background-color: #fff9f2;
}
h3{
    padding-bottom: 20px;
}
.heading{
    padding-top: 40px ;
    background: linear-gradient(to left, #52abf9 , #024f92);
    color: white;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
}
.name-intro{
    display: inline-block;
    margin-top: 100px;
    padding: 8px 180px;
    background: linear-gradient( #fff9f2 , #fbefe2);
    border-radius: 6px;
}
.name-intro-2{
    padding: 1%;
    background-color: rgb(250, 219, 224);
    border-radius: 8%;
}
.first-para{
    margin: 25px;
}
.second-para{
    font-weight: bold;
    padding: 15px;
}
div{
    padding: 15px;
}
button {
	background-color:rgb(250, 219, 224);;
	border-radius:11px;
	border:2px solid #a87dfe;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
}
button:hover {
	background-color:#a87dfe;

}
button:active {
	position:relative;
	top:1px;
}
.first-btn-sec{
    display: inline-block;
    background: #fff4e7;
    padding: 50px 200px;
    border-radius: 20px;
}
.second-btn-sec{
    display: block;
    padding: 50px 200px;
    border-radius: 20px;
}
.third-btn-sec{
    display: inline-block;
    background: #fff4e7;
    padding: 50px 200px;
    border-radius: 20px;
}